{% include "header.html" %}

<link rel="stylesheet" href="static/assets/css/main.css" />
<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
  <div class="inner container-fluid" style="padding-top: 100px; padding-bottom: 0px; weight: 100% !important; background-image: url({{ url_for('static', filename='img/apparat.jpeg')}})">
    <section class="tiles">
      <article style="margin-left: 100px">
        <span class="text-center">
          <img class="img-thumbnail" src="static/img/Arina.jpg" style="weight: 28%">
          <h2 class="subheading text-center text-white font-weight-bold">Это я :3</h2>
        </span>
      </article>
      <article style="width: 50%">
        <div class="container margin-top: 650px !important">
          <p class="text-white text-center font-italic" style="font-size: calc(8px + 1.4vw)">Привет! Я Арина и Я обожаю фотографию и все, что с этим связано. Первый раз я взяла камеру в руки в пять лет и, видимо, в тот момент между нами произошла волшебная связь. Спустя 10 лет у меня в руках появился настоящий профессиональный фотоаппарат.  <br>
            С этого момента и начался мой творческий путь. Буду безумно рада раскрыть вашу красоту, сохранить яркие события, превратить их в воспоминания, которые напомнят вам о красоте вашей жизни. Фотографирую как людей, так и животных, детей, природу, провожу съемку мероприятий. Всегда рада новым клиентам!</p>
        </div>
      </article>
    </section>
  </div>
  {% include "footer.html" %}