<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form action="/action_page2" method="POST">
          <label>Title</label>
          <input type="text" name="Title" placeholder="{{post.title}}">
          <label>Subtitle</label>
          <input type="text" name="Subtitle" placeholder="{{post.subtitle}}">
          <label>Date</label>
          <input type="text" name="Date" placeholder="{{post.date}}">
          <label>Body</label>
          <input type="text" name="Body" placeholder="{{post.body}}">
          <label>Autor</label>
          <input type="text" name="Author" placeholder="{{post.author}}">
          <label>Img_url</label>
          <input type="text" name="Img_url" placeholder="{{post.img_url}}">
          <button type="submit">Add Book</button>
    </form>
      </div>
    </div>
  </div>
</body>
</html>