{% include "header.html" %}
<link rel="stylesheet" href="static/assets/css/main.css" />
<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
		<!-- Wrapper -->
<div id="wrapper" style="padding-top: 50px; padding-bottom: 50px; background-image: url('{{ url_for('static', filename='img/astronomy.jpg')}}')">
	<div id="main">
		<div class="inner">
			<header>
				<h1 class="font-weight-bold text-white">Примеры моих работ :3</h1>
				<p class="font-italic text-white">Здесь вы можете ознакомиться с некоторыми моими работами</p>
			</header>
			<section class="tiles">
				<article class="style1">
					<span class="image">
						<img src="static/img/malchik.jpg" style="weight: 40%">
					</span>
					<a href="">
						<h2>Korsakovo</h2>
					</a>
				</article>
				<article class="style2" style="margin-top: 5%; margin-bottom: 5%">
					<span class="image">
						<img src="static/img/citti.jpg" style="weight: 40%">
					</span>
					<a href="">
						<h2>Cat</h2>
					</a>
				</article>
				<article class="style3">
					<span class="image">
						<img src="static/img/retro.jpg" style="weight: 40%" />
					</span>
					<a href="">
						<h2>Retro</h2>
					</a>
				</article>
				<article class="style4" style="margin-top: 6%">
					<span class="image">
						<img src="static/img/sister.jpg" style="weight: 40%" />
					</span>
					<a href="">
						<h2>Sister</h2>
					</a>
				</article>
				<article class="style5" style="margin-top: 8%">
					<span class="image">
						<img src="static/img/chb.jpg" style="weight: 40%" />
					</span>
					<a href="">
						<h2>CHB</h2>
					</a>
				</article>
				<article class="style6">
					<span class="image">
						<img src="static/img/dog.jpg" style="weight: 40%" />
					</span>
					<a href="">
						<h2>Dog</h2>
					</a>
				</article>
				<article class="style2" style="margin-top: 7%">
					<span class="image">
						<img src="static/img/hny.jpg" style="weight: 40%" />
					</span>
					<a href="">
						<h2>Mary</h2>
					</a>
				</article>
				<article class="style3">
					<span class="image">
						<img src="static/img/love.jpg" style="weight: 40%" />
					</span>
					<a href="">
						<h2>Love</h2>
					</a>
				</article>
				<article class="style1" style="margin-top: 7%">
					<span class="image">
						<img src="static/img/girl2.jpg" style="weight: 40%" />
					</span>
					<a href="">
						<h2>Liberty</h2>
					</a>
				</article>
				<article class="style5">
					<span class="image">
						<img src="static/img/george.jpg" style="weight: 40%" />
					</span>
					<a href="">
						<h2>George</h2>
					</a>
				</article>
				<article class="style6">
					<span class="image">
						<img src="static/img/msc.jpg" style="weight: 40%" />
					</span>
					<a href="">
						<h2>Moscow</h2>
					</a>
				</article>
				<article class="style4" style="margin-top: 2%">
					<span class="image">
						<img src="static/img/cats.jpg" style="weight: 40%" />
					</span>
					<a href="">
						<h2>Cats</h2>
					</a>
				</article>
			</section>
		</div>
	</div>
	<div class="container text-center">
	<a class="btn-lg btn-primary text-center" href="/gallery2">Увидеть больше работ</a>
	</div>
</div>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	{% include "footer.html" %}